<imng-data-entry-dialog
  [width]="600"
  [height]="750"
  [parentComponent]="this"
  autoFocusedElement="#name"
>
  <form
    id="imng-form"
    novalidate
    [formGroup]="addEditForm"
    autocomplete="false"
    class="row needs-validation"
  >
    <div class="col-md-12">
      <label for="name" class="control-label">Name:</label>
      <input
        id="name"
        type="text"
        class="form-control"
        [formControlName]="props.NAME"
      />
      <div
        *ngIf="(submitted$ | async) && formControlErrors(props.NAME)"
        class="invalid-feedback d-block"
      >
        <div *ngIf="formControlErrors(props.NAME)?.[RequiredError]">
          Song name is required
        </div>
        <div *ngIf="formControlErrors(props.NAME)?.[MinLengthError]">
          Song name requires a min length of
          {{ formMinLengthError(props.NAME)?.requiredLength }}, currently only
          {{ formMinLengthError(props.NAME)?.actualLength }}.
        </div>
      </div>
    </div>
    <div class="col-md-12">
      <label for="email" class="control-label">Genre:</label>
      <kendo-combobox
        [data]="(genres$ | async) || []"
        [formControlName]="props.GENRE_ID"
        [allowCustom]="true"
      >
      </kendo-combobox>
      <div
        *ngIf="(submitted$ | async) && formControlErrors(props.GENRE_ID)"
        class="invalid-feedback d-block"
      >
        <div *ngIf="formControlErrors(props.GENRE_ID)?.[RequiredError]">
          Artist genres are required
        </div>
      </div>
    </div>
    <div class="col-md-12">
      <label for="album" class="control-label">Artist:</label>
      <kendo-multicolumncombobox
        id="artist"
        placeholder="Select an artist..."
        [data]="artists$ | async"
        [textField]="artistProps.STAGE_NAME"
        [valueField]="artistProps.ID"
        [valuePrimitive]="true"
        [filterable]="true"
        (filterChange)="handleArtistFilter($event)"
        [(value)]="selectedArtist"
        (selectionChange)="artistSelectionChanged($event)"
      >
        <kendo-combobox-column
          [field]="artistProps.STAGE_NAME"
          title="Stage Name"
          [width]="100"
        ></kendo-combobox-column>
        <kendo-combobox-column
          field="pictureIpfsHash"
          title="Picture Ipfs Hash"
          [width]="100"
        ></kendo-combobox-column>
      </kendo-multicolumncombobox>
    </div>
    <div class="col-md-12">
      <label for="album" class="control-label">Album:</label>
      <kendo-multicolumncombobox
        id="album"
        placeholder="Select a album..."
        [data]="albums$ | async"
        [textField]="albumProps.NAME"
        [valueField]="albumProps.ID"
        [valuePrimitive]="true"
        [filterable]="true"
        (filterChange)="handleAlbumFilter($event)"
        (selectionChange)="albumSelectionChanged($event)"
      >
        <kendo-combobox-column
          field="name"
          title="Name"
          [width]="100"
        ></kendo-combobox-column>
        <kendo-combobox-column
          field="pictureIpfsHash"
          title="Picture Ipfs Hash"
          [width]="100"
        >
          <ng-template kendoComboBoxItemTemplate let-dataItem>
            {{ dataItem.text }}
          </ng-template>
        </kendo-combobox-column>
      </kendo-multicolumncombobox>
    </div>
    <div class="col-md-12 mx-">
      <label for="name" class="control-label">Photo:</label>
      <kendo-fileselect
        #avatar
        [restrictions]="pictureRestrictions"
        [multiple]="false"
        (select)="selectPicture($event)"
      >
      </kendo-fileselect>
    </div>
    <div class="col-md-12 mx-">
      <label for="name" class="control-label">Music:</label>
      <kendo-fileselect
        #avatar
        [restrictions]="musicRestrictions"
        [multiple]="false"
        (select)="selectAudio($event)"
      >
      </kendo-fileselect>
    </div>
  </form>
</imng-data-entry-dialog>
