<kendo-grid [height]="800" kendoGridFocusable [imngODataGrid]="this">
  <ng-template kendoGridToolbarTemplate>
    <div class="w-100 d-flex justify-content-between">
      <h3>Songs</h3>
      <imng-kendo-odata-grid-header
        entityName="Song"
        (addItemClicked)="addItem()"
        (reloadEntitiesClicked)="reloadEntities()"
        (clearFiltersClicked)="resetFilters()"
        [hasHiddenColumns$]="hasHiddenColumns$"
      >
      </imng-kendo-odata-grid-header>
    </div>
  </ng-template>
  <kendo-grid-column [width]="75">
    <ng-template kendoGridCellTemplate let-dataItem let-rowIndex="rowIndex">
      <kendo-menu title="Actions">
        <kendo-menu-item icon="menu">
          <kendo-menu-item>
            <ng-template kendoMenuItemLinkTemplate>
              <button
                type="button"
                class="btn btn-sm mx-3 my-2 text-start"
                (click)="editItem(dataItem)"
                placement="left"
                tooltip="Edit"
              >
                <span class="k-icon k-i-edit"></span>
                Edit
              </button>
            </ng-template>
          </kendo-menu-item>
          <kendo-menu-item>
            <ng-template kendoMenuItemLinkTemplate>
              <button
                type="button"
                class="btn btn-sm mx-3 my-2 text-start"
                (click)="deleteItem(dataItem)"
                placement="left"
                tooltip="Delete"
              >
                <span class="k-icon k-i-delete"></span>
                Delete
              </button>
            </ng-template>
          </kendo-menu-item>
        </kendo-menu-item>
      </kendo-menu>
    </ng-template>
  </kendo-grid-column>

  <kendo-grid-column
    [field]="props.ID"
    [width]="100"
    title="Id"
    filter="text"
    [hidden]="true"
  >
    <ng-template kendoGridCellTemplate let-dataItem>
      <imng-kendo-copy
        [displayValue]="dataItem[props.ID] | slice : 0 : 5"
        [copyValue]="dataItem[props.ID]"
      >
      </imng-kendo-copy>
    </ng-template>
    <ng-template kendoGridFilterMenuTemplate let-filter>
      <imng-uuid-filter [filter]="filter"></imng-uuid-filter>
    </ng-template>
    <ng-template class="header" kendoGridHeaderTemplate let-column>
      <span class="h6" title="Id">Id</span>
    </ng-template>
  </kendo-grid-column>
  <kendo-grid-column
    [field]="props.NAME"
    [width]="100"
    title="Name"
    filter="text"
  >
    <ng-template class="header" kendoGridHeaderTemplate let-column>
      <span class="h6" title="Name">Name</span>
    </ng-template>
  </kendo-grid-column>
  <kendo-grid-column [width]="100" title="Album" [filterable]="false">
    <ng-template class="header" kendoGridHeaderTemplate let-column>
      <span class="h6" title="Album">Album</span>
    </ng-template>
    <ng-template kendoGridCellTemplate let-dataItem>
      <div *ngFor="let albumSong of dataItem[props.ALBUM_SONGS]">
        {{ albumSong.album.name }}
      </div>
    </ng-template>
  </kendo-grid-column>
  <kendo-grid-column
    [field]="props.GENRE_ID"
    [width]="100"
    title="Genre"
    filter="text"
  >
    <ng-template class="header" kendoGridHeaderTemplate let-column>
      <span class="h6" title="Name">Genre</span>
    </ng-template>
  </kendo-grid-column>
  <kendo-grid-column
    [field]="props.IPFS_HASH"
    [width]="100"
    title="Ipfs Hash"
    filter="text"
  >
    <ng-template class="header" kendoGridHeaderTemplate let-column>
      <span class="h6" title="Ipfs Hash">Music Ipfs Hash</span>
    </ng-template>
  </kendo-grid-column>
  <kendo-grid-column [width]="100" title="Song Picture" [filterable]="false">
    <ng-template class="header" kendoGridHeaderTemplate let-column>
      <span class="h6" title="Picture Ipfs Hash">Song Picture</span>
    </ng-template>
    <ng-template kendoGridCellTemplate let-dataItem>
      <div class="w-100 text-center">
        <img class="pic" [src]="dataItem.image" />
      </div>
    </ng-template>
  </kendo-grid-column>
  <kendo-grid-column
    [field]="props.UPDATE_COUNT"
    [width]="100"
    title="Update Count"
    filter="numeric"
    [hidden]="true"
  >
    <ng-template class="header" kendoGridHeaderTemplate let-column>
      <span class="h6" title="Update Count">Update Count</span>
    </ng-template>
  </kendo-grid-column>

  <kendo-grid-pdf [fileName]="getExportFileName('Songs')" [allPages]="false">
    <kendo-grid-pdf-margin
      top="1cm"
      left="1cm"
      right="1cm"
      bottom="1cm"
    ></kendo-grid-pdf-margin>
  </kendo-grid-pdf>
  <kendo-grid-excel
    [fileName]="getExportFileName('Songs')"
    [fetchData]="excelData"
  ></kendo-grid-excel>
</kendo-grid>
<itec-song-add *ngIf="crudFacade.isNewActive$ | async"></itec-song-add>
<itec-song-edit *ngIf="crudFacade.isEditActive$ | async"></itec-song-edit>
