<imng-data-entry-dialog
  [width]="700"
  [height]="550"
  [parentComponent]="this"
  autoFocusedElement="#name"
>
  <form
    id="imng-form"
    novalidate
    [formGroup]="addEditForm"
    autocomplete="false"
    class="row"
  >
    <div class="col-md-12 mx-">
      <label for="name" class="control-label">Name:</label>
      <input
        id="name"
        type="text"
        class="form-control"
        [formControlName]="props.NAME"
      />
      <div
        *ngIf="(submitted$ | async) && formControlErrors(props.NAME)"
        class="invalid-feedback d-block"
      >
        <div *ngIf="formControlErrors(props.NAME)?.[RequiredError]">
          Artist name is required
        </div>
        <div *ngIf="formControlErrors(props.NAME)?.[MinLengthError]">
          Artist name requires a min length of
          {{ formMinLengthError(props.NAME)?.requiredLength }}, currently only
          {{ formMinLengthError(props.NAME)?.actualLength }}.
        </div>
      </div>
    </div>
    <div class="col-md-12">
      <label for="stage_name" class="control-label">Stage Name:</label>
      <input
        id="stage_name"
        type="text"
        class="form-control"
        [formControlName]="props.STAGE_NAME"
      />
      <div
        *ngIf="(submitted$ | async) && formControlErrors(props.STAGE_NAME)"
        class="invalid-feedback d-block"
      >
        <div *ngIf="formControlErrors(props.STAGE_NAME)?.[RequiredError]">
          Artist stage name is required
        </div>
        <div *ngIf="formControlErrors(props.STAGE_NAME)?.[MinLengthError]">
          Artist stage name requires a min length of
          {{ formMinLengthError(props.STAGE_NAME)?.requiredLength }}, currently
          only {{ formMinLengthError(props.STAGE_NAME)?.actualLength }}.
        </div>
      </div>
    </div>
    <div class="col-md-12">
      <label for="email" class="control-label">Email:</label>
      <input
        id="email"
        type="text"
        class="form-control"
        [formControlName]="props.EMAIL"
      />
      <div
        *ngIf="(submitted$ | async) && formControlErrors(props.EMAIL)"
        class="invalid-feedback d-block"
      >
        <div *ngIf="formControlErrors(props.EMAIL)?.[RequiredError]">
          Artist email is required
        </div>
        <div *ngIf="formControlErrors(props.EMAIL)?.[MinLengthError]">
          Artist email requires a min length of
          {{ formMinLengthError(props.EMAIL)?.requiredLength }}, currently only
          {{ formMinLengthError(props.EMAIL)?.actualLength }}.
        </div>
      </div>
    </div>
    <div class="col-md-12">
      <label for="email" class="control-label">Genres:</label>
      <kendo-multiselect
        [data]="(genres$ | async) || []"
        [value]="selectedGeneres"
        [allowCustom]="true"
        [valuePrimitive]="true"
        (valueChange)="onGenreChange($event)"
      >
      </kendo-multiselect>
      <div
        *ngIf="(submitted$ | async) && formControlErrors(props.GENRES)"
        class="invalid-feedback d-block"
      >
        <div *ngIf="formControlErrors(props.EMAIL)?.[RequiredError]">
          Artist genres are required
        </div>
        <div *ngIf="formControlErrors(props.GENRES)?.[MinLengthError]">
          Artist genres requires a min length of
          {{ formMinLengthError(props.GENRES)?.requiredLength }}, currently only
          {{ formMinLengthError(props.GENRES)?.actualLength }}.
        </div>
      </div>
    </div>
    <div class="col-md-12 mx-">
      <label for="name" class="control-label">Photo:</label>
      <kendo-fileselect
        #avatar
        [restrictions]="photoRestrictions"
        [multiple]="false"
        (select)="selectPicture($event)"
      >
      </kendo-fileselect>
    </div>
  </form>
</imng-data-entry-dialog>
